N8N_HOST=0.0.0.0
N8N_PORT=5678
N8N_PROTOCOL=http
NODE_ENV=development
WEBHOOK_URL=http://localhost:5678/
WEBHOOK_SECRET=nagrikq_idp_secret_key_2026
TELEGRAM_BOT_TOKEN=8874803375:AAECsJ9jyBd8d-LlcNJMEpt1ZyYGqYbkHzQ
FRONTEND_URL=http://localhost:5173
N8N_ENCRYPTION_KEY=nagrikq_n8n_encryption_secret_key_2026
EXECUTIONS_DATA_PRUNE=true
EXECUTIONS_DATA_MAX_AGE=168
N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=false
